{% extends "base.html" %}
{% load static %}
{% load staticfiles %}


{% block main_content %}
  {#{% include "inc_sticky.html" %}#}
  <div class="card-deck mb-3 text-center">
    {% if object %}
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ object.category }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$ {{ object.price }}
            <small class="text-muted">/ mo</small>
          </h1>
          <img src="{{ object.photo.url }}" alt="{{ object.name }}">
          <ul class="list-unstyled mt-3 mb-4">
            <li>{{ object.surname }}</li>

          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
      </div>
    {% else %}
      Нет не одного товара
    {% endif %}

  </div>



  {% comment %}
    <div class="row">
      <div class="">
      {% if object %}
            <table class="table table-dark">
              <tbody>
          <tr>
            <td>Название</td>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <td>Описание</td>
            <td>{{ object.surname }}</td>
          </tr>
          <tr>
            <td>Цена</td>
            <td>{{ object.price }}</td>
          </tr>
          <tr>
            <td>Фото</td>
            <td><img src="{{ object.photo.url }}" alt="{{ object.name }}"></td></td>
          </tr>
          <tr>
            <td>Адрес</td>
            <td>{{ object.slug }}</td>
          </tr>
          <tr>
            <td>Категория</td>
            <td>{{ object.category }}</td>
          </tr>
          <tr>
            <td>Активна</td>
            <td>{{ object.is_active }}</td>
          </tr>

              </tbody></table>
      {% else %}
          Нет не одного товара
      {% endif %}
      </div>
    </div>
  {% endcomment %}
{% endblock main_content %}