{% load staticfiles %}


{% block main_content %}
{#{% include "inc_sticky.html" %}#}
    <div class="row">
      <div class="">
      {% if catalogs %}


        {% comment %}
                {% for course in student.courses.all %}
                  <p><a href="{# {% url 'courses:detail' course.id %} #}">{{ course.name }}</a></p>
                {% endfor %}
                {% endcomment %}
        {% for catalog in catalogs %}
            <table class="table table-dark">
              <tbody>
          <tr>
            <td>Название</td>
            <td>{{ catalog.name }}</td>
          </tr>
          <tr>
            <td>Описание</td>
            <td>{{ catalog.surname }}</td>
          </tr>
          <tr>
            <td>Цена</td>
            <td>{{ catalog.price }}</td>
          </tr>
          <tr>
            <td>Фото</td>
            <td><img src="{{ catalog.photo.url }}" alt="{{ catalog.name }}"></td></td>
          </tr>
          <tr>
            <td>Адрес</td>
            <td>{{ catalog.slug }}</td>
          </tr>
          <tr>
            <td>Категория</td>
            <td>{{ catalog.category }}</td>
          </tr>
          <tr>
            <td>Активна</td>
            <td>{{ catalog.is_active }}</td>
          </tr>

              </tbody></table>
          {% endfor %}
      {% else %}
          Нет не одного товара
      {% endif %}
      </div>
    </div>

{% endblock main_content %}