{% block main_content %}
  {#{% include "inc_sticky.html" %}#}
  <div class="row">
    {#    <a href="{% url 'students:add' %}">Добавить нового студента</a>#}
    <div class="col-md-12">
      {% if catalogs %}
        <table class="table table-striped">
          <thead>
          <tr>
            <th>№</th>
            <th>Категория</th>
            <th>Подкатегория</th>
            <th>Описание</th>
            <th>Товары</th>
            {# name email package  #}
          </tr>
          </thead>
          <tbody>
          {% for catalog in catalogs %}
            <tr>
              <td>
                {# автонумерация строк #}
                {{ forloop.counter }}
              </td>
              <td>
                {{ catalog.category.name }}
              </td>
              <td>
                {{ catalog.name }}
              </td>
              <td>
                {{ catalog.surname }}
              </td>
              <td>
                {# передаем id товара в get с помощью: url 'catalog:detail' card.id #}
                <a href="{% url 'catalog:detail' catalog.id %}">{{ catalog.name }}</a>
              </td>
              <td>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        Нет не одного подкаталога
      {% endif %}
    </div>
  </div>
{% endblock main_content %}